/* bootstrap tweaks */
.nav-tabs>li>a {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 20px;
	border: 1px solid transparent;
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}

.nav-tabs {
	border-top: 0 none;
	border-bottom: 0 none;
}

.applayout-legal {
	margin-top: 20px;
}

.dbootstrap .dijitDialogPaneContent {
	padding: 20px;
}

.navbar .nav .dropdown-toggle .caret {
	margin-bottom: 8px;
}