@media (prefers-color-scheme: dark) {
	html, body {
		background-color: #000;
		color: #fff;
		background: rgb(64,1,106);
		background: linear-gradient(0deg, rgba(64,1,106,1) 0%, rgba(135,21,21,1) 50%, rgba(107,74,28,1) 100%);
	}
	
	h1,h2,h3,h4,h5,h6,h7,h8 {
		color: #fff;
	}
	
	.pagehelp a, .pagehelp a:link, .pagehelp a:visited {
    	color: #fff;
	}
	
	a.tagCloudSize0, a.tagCloudSize0:visited	{color:#fff!important;}
	a.tagCloudSize1, a.tagCloudSize1:visited	{color:#eee!important;}
	a.tagCloudSize2, a.tagCloudSize2:visited	{color:#ddd!important;}
	a.tagCloudSize3, a.tagCloudSize3:visited	{color:#ccc!important;}
	a.tagCloudSize4, a.tagCloudSize4:visited	{color:#bbb!important;}
	a.tagCloudSize5, a.tagCloudSize5:visited	{color:#aaa!important;}
	a.tagCloudSize6, a.tagCloudSize6:visited	{color:#999!important;}
	a.tagCloudSize7, a.tagCloudSize7:visited	{color:#888!important;}
	a.tagCloudSize8, a.tagCloudSize8:visited	{color:#777!important;}
	a.tagCloudSize9, a.tagCloudSize9:visited	{color:#666!important;}
	a.tagCloudSize10, a.tagCloudSize10:visited	{color:#555!important;}
	
	.panel-default > .panel-heading {
	    color: #ddd;
	    background-color: #000;
	    border-color: #000;
	}
	
	.panel {
		background-color: #222;
    	border: solid 1px #000;
    	border-radius: 2px;
	}
	
	.panel-widget {
		background-color: #333;
	}

	.panel-footer {
		color: #ddd;
	    padding: 10px 15px;
	    background-color: #000;
	    border-top: 1px solid #000;
	    border-bottom-right-radius: 2px;
	    border-bottom-left-radius: 2px;
	}
	
	pre {
	    color: #00ff00;
	    background-color: #000;
	    font-size: 0.9em;
	    border-color: #555;
	}
	
	.well p {
		color:#333;
	}
}