/* misc */
.snippet {
	cursor: pointer;
	padding: 3px 0px;
}

a.badge,a.badge:visited,a.badge:hover {
	color: #fff;
	text-decoration: none;
}

.badge {
	display: inline-table;
	padding: 2px 4px;
	margin: 3px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #008cba;
	padding-left: 9px;
	padding-right: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.modified {
	margin-top: 30px;
	padding-right: 10px;
	font-size: 11px;
	color: #aaa;
	display: block;
	text-align: right;
}

.logo {
	position: absolute;
	padding: 0;
	margin: 0;
	display: inline;
	top: 50px;
}

.commentSection-wide-header {
	cursor: pointer;
}