/**/
@import url("//fonts.googleapis.com/css?family=Open+Sans:300");

* { /*font-family: "Open Sans", sans-serif;*/
	
}

body {
	font-family: "Open Sans", sans-serif;
}

.navbar-brand {
	font-size: 1.4em;
}

.navbar-inverse {
	border: 0 none;
}

#content {
	font-size: 1.2em;
}

h1,h2 {
	margin-top: 10px;
}

h4.lotusHeading {
	font-weight: bold;
}

#rightcol img.image {
	width: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

img.circle {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

img.brand {
	vertical-align: top;
	margin-top: -8px;
	margin-right: 10px
}

.xspPagerContainer {
	background-color: transparent;
}

.xspPagerLeft {
	background-color: transparent;
	padding: 10px 0 10px 0;
	font-weight: bold;
}

.ckeditor * {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

@media ( min-width : 992px) {
	.modal-lg {
		width: 900px;
	}
}

.pagehelp {
	background-color: #008cba;
	/*
	background: -moz-linear-gradient(top, #040756 0%, #0847a9 100%);	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #040756),
		color-stop(100%, #0847a9) );
	background: -webkit-linear-gradient(top, #040756 0%, #0847a9 100%);	
	background: -o-linear-gradient(top, #040756 0%, #0847a9 100%);	
	background: -ms-linear-gradient(top, #040756 0%, #0847a9 100%);	
	background: linear-gradient(to bottom, #040756 0%, #0847a9 100%);	
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#040756', endColorstr = '#0847a9', GradientType = 0 );
		*/
}

.pagehelp { /*	background-color: #105CB6;*/
	margin-bottom: 20px;
	color: #fff;
	min-height: 130px;
	padding-top: 70px;
}

.pagehelp a,.pagehelp a:link,.pagehelp a:visited {
	color: #fff;
}

.searchGroup {
	margin-bottom: 10px;
}

#content {
	margin-bottom: 50px;
}

.msg {
	display: block;
}

.actionbar .btn {
	margin-right: 4px;
}

.btn-custom-green {
	background-color: #abd100;
	color: white;
	border-color: #abd100;
}

.btn-custom-green:hover,.btn-custom-green:focus,.btn-custom-green:active
	{
	background-color: #C4DF4D;
	border-color: #C4DF4D;
	color: white;
}

#footer {
	font-size: 0.8em;
}

.actionbar { /*border-bottom: solid 1px #ccc;*/
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.tab-pane {
	padding: 10px;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	background-color: #fff;
}

.logindialog {
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

th {
	font-weight: bold;
}

.tundra .dijitSelect .dijitButtonContents,.tundra .dijitSelect,.tundra .dijitTextBox
	{
	background: none;
}

.dijitPlaceHolder {
	font-style: inherit;
}

.panel-title {
	font-weight: bold;
}

.tiny td {
	font-size: 0.8em;
}

.clickable {
	cursor: pointer;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.form-control {
	margin-bottom: 10px;
}

.form-group label {
	display: block;
}

.form-group label.left {
	display: inline-table;
}

.disabled {
	background-color: #eee;
	cursor: not-allowed;
}

a.nav-disabled {
	cursor: not-allowed;
}

.modal-header { /*
	background-color: #105CB6;
	border-color: #666;
	color: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	*/
	
}

.table th span.xspTextComputedField {
	font-weight: bold;
}

.table .xspColumn {
	padding: 8px !important;
}

/* hp tweaks */
.snippet {
	cursor: pointer;
}

.commentSection-wide-header {
	cursor: pointer;
}

/* bs4xsp tweaks*/
.pagination {
	margin: 10px 0 0 0 !important;
}

.navbar {
	margin-bottom: 0 !important;
}

ul.applayout-links {
	margin-left: -30px;
}

/*tweaks end*/

.commentinfo {
	margin-bottom: 20px;
}

.form-table {
	width: 100%;
}

tr.control-group>td>div {
	padding-left: 0 !important;
}

.lotusTagCloud ul {
	padding-left: 0;
}