.lotusui30 .lotusBanner .lotusInner,.lotusui30 .lotusBannerExt .lotusWrapper,.lotusui30 .lotusTitleBar2 .lotusWrapper,.lotusui30 .lotusTitleBarExt .lotusWrapper,.lotusui30_body .lotusMain,.lotusui30 .lotusPlaceBar .lotusInner
	{
	margin: 0 auto;
	padding: 0 5px;
	min-width: 980px !important;
	max-width: 1190px !important;
}

.lotusui30 .lotusBanner ul.lotusUtility li a,.lotusui30 .lotusBanner ul li a
	{
	padding: 10px 16px 7px 16px;
}

.lotusui30 .lotusHeader {
	overflow: visible !important;
}

/* orange banner */
.lotusui30 .lotusBanner .lotusRightCorner {
	background: url(orange.png) no-repeat;
	border-bottom: 1px solid #bb4405;
	background-size: 100%;
	padding: 60px 0px 0px 0px;
}

.lotusui30 .lotusBanner {
	border-bottom: 1px solid #bb4405;
	background: #bb4405;
}

.lotusui30 .lotusBanner ul.lotusUtility li a,.lotusui30 .lotusBanner ul li a
	{
	padding: 10px 16px 7px 16px;
}

.lotusui30 .lotusBanner ul.lotusInlinelist li.lotusSelected a,.lotusui30 .lotusBanner ul.lotusUtility li a,.lotusui30 .lotusBanner ul.lotusUtility li a:hover,.lotusui30 .lotusBanner ul.lotusUtility li a:focus,.lotusui30 .lotusBanner ul.lotusUtility li a:active
	{
	background: none;
	outline: none;
	border: 0 none;
}

.lotusui30 .lotusBanner ul.lotusInlinelist li a:hover,.lotusui30 .lotusBanner ul.lotusInlinelist li a:focus,.lotusui30 .lotusBanner ul.lotusInlinelist li a:active,.lotusui30 .lotusBanner ul.lotusInlinelist li.lotusHover a
	{
	background: none;
	outline: none;
	border: 0 none;
}

/* dojo orange */
.lotusui30dojo .dijitDialogTitleBar,.lotusui30 .lotusDialog .lotusDialogHeader
	{
	background: #8c3310; /* Old browsers */
	background: -moz-linear-gradient(top, #8c3310 0%, #722810 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c3310),
		color-stop(100%, #722810) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8c3310 0%, #722810 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8c3310 0%, #722810 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8c3310 0%, #722810 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #8c3310 0%, #722810 100%);
	/* W3C */
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#8c3310', endColorstr = '#722810', GradientType = 0 ); /* IE6-9 */
}

.lotusui30dojo .dijitDialog,.lotusui30 .lotusDialogBorder {
	border: 3px solid #8c3310;
}

.lotusui30dojo .dijitDialogUnderlay {
	background-color: #fff;
}

/* end dojo */ /* lotus buttons */
.lotusui30 .lotusBtn {
	font-family: Arial, Helvetica;
	background: #DBDBDB;
	filter: progid :               DXImageTransform.Microsoft.gradient ( 
		       
		     startColorstr =       
		       '#F5F5F5', endColorstr =               '#DBDBDB' );
	background: -webkit-linear-gradient(top, #F5F5F5, #DBDBDB);
	background: -moz-linear-gradient(top, #F5F5F5, #DBDBDB);
	background: -o-linear-gradient(top, #F5F5F5, #DBDBDB);
	background: -ms-linear-gradient(top, #F5F5F5, #DBDBDB);
	background: linear-gradient(top, #F5F5F5, #DBDBDB);
	border: 1px solid #DBDBDB;
	color: #000;
	padding: 7px 20px;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
	text-shadow: #FFF 0 1px 0;
	min-width: 120px;
	min-width: 90px\9;
	text-align: center;
	cursor: pointer;
}

/* end lotus buttons */
table.xspMessage {
	background: rgb(255, 197, 120); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 197, 120, 1) 0%,
		rgba(251, 157, 35, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		197, 120, 1) ), color-stop(100%, rgba(251, 157, 35, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 197, 120, 1) 0%,
		rgba(251, 157, 35, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 197, 120, 1) 0%,
		rgba(251, 157, 35, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 197, 120, 1) 0%,
		rgba(251, 157, 35, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 197, 120, 1) 0%,
		rgba(251, 157, 35, 1) 100% ); /* W3C */
	filter: progid :         DXImageTransform.Microsoft.gradient (       
		   startColorstr =    
		    '#ffc578', endColorstr =         '#fb9d23', GradientType =        
		0 );
	/* IE6-9 */
	box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}