@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

label {
	font-weight: bold;
	font-size: 15px;
}

.navbar-brand > img {
  display: inline;
}

body {
	font-size:1.4em;
	font-family: 'Barlow', serif;
}

a, a:hover {
    color: #910090;
}

.navbar-paper {
	background-color: #910090;
}

.navbar-inverse .navbar-brand {
    color: #f0f0f0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #910090;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #000;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #910090;
}


.label-primary {
    background-color: #910090;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #910090;
    border-color: #910090;
    cursor: default;
}

.pagination > li > a, .pagination > li > span, .pagination > li > a:hover {
    color: #910090;
}

/* IBM stuff */
a.tagCloudSize0, a.tagCloudSize0:visited	{display:none;color:#888!important;}
a.tagCloudSize1, a.tagCloudSize1:visited	{color:#777!important;}
a.tagCloudSize2, a.tagCloudSize2:visited	{color:#666!important;}
a.tagCloudSize3, a.tagCloudSize3:visited	{color:#555!important;}
a.tagCloudSize4, a.tagCloudSize4:visited	{color:#444!important;}
a.tagCloudSize5, a.tagCloudSize5:visited	{color:#555!important;}
a.tagCloudSize6, a.tagCloudSize6:visited	{color:#444!important;}
a.tagCloudSize7, a.tagCloudSize7:visited	{color:#333!important;}
a.tagCloudSize8, a.tagCloudSize8:visited	{color:#222!important;}
a.tagCloudSize9, a.tagCloudSize9:visited	{color:#111!important;}
a.tagCloudSize10, a.tagCloudSize10:visited	{color:#000!important;}

