/* yeti tweaks */
.btn {
	padding: 3px 14px;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	height: inherit;
}

.nav-tabs {
	border-bottom: 0 none;
}

.navbar-search .search-query {
	padding: 14px 14px;
	height: 14px;
}

.navbar {
	margin-bottom: 0;
	min-height: inherit;
}

.navbar-inverse .navbar-inner {
	/*background: none;*/
}

.navbar-inverse .brand,.navbar-inverse .nav>li>a {
	color: #eee;
}

.nav-tabs>li>a {
	background: none;
}

.navbar-bottom .navbar-inner {
	background: none;
	border: 0 none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar-static-top {
	z-index: inherit;
}

.dropdown-toggle {
	cursor: pointer;
}

.nav-pills .dropdown-menu {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

label {
	font-size: 15px;
}

